body{
    background-color: black;
}

#ball{
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-name: moveball;
    background-color: red;
    width:100px;
    height: 100px;
    border-radius: 50px;
}

@keyframes moveball{
    0%{
        transform: translateX(100px);
        transition-duration: 5s;
        background-color: white;
    }
    15%{
        
        transform: rotate(55deg) translate(700px, 45px);
    }

    20%{
        transform: rotate(-55de) translate(-700px, -40px);
    }
}
