/* CSS START */
* {
  margin: 0;
}

/* Body background Start */
body {
  background-color: #000000;
  margin: 0;
}

/* Body background End */

/* Text on the page Start */
.parent p {
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: poppins;
  -webkit-text-stroke: 1px #ffffff;
  color: transparent;
  background-image: linear-gradient(#ffffff, #ffffff);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -1700px 0;
  text-shadow: 0 0 10px rgb(255, 255, 255);
  animation: text 5s linear infinite alternate;
}
/* Keyframe text Start */
@keyframes text {
  100% {
    background-position: 0 0;
  }
}
/* Keyframes text END */

/* Text on the page End */

/* Border Around the ball start */
.game {
  position: relative;
  margin: 0 auto;
  width: 1800px;
  border: 10px solid #ffffff;
  border-radius: 10px;
  height: 850px;
  box-shadow: 0 0 30px white;
  text-align: center;
}
/* Border Around the ball END */
/* Image Main Start */
.game img {
  position: absolute;
  width: 25%;
  height: 80%;
  margin-left: -13%;
  border-radius: 50%;
  box-shadow: 0 0 30px white;
}
.game img:nth-child(2) {
  margin-left: 10%;
  height: 70%;
  animation-delay: -2.2s;
  animation: color 2s linear infinite;
}
.game img:nth-child(3) {
  margin-left: -35%;
  height: 70%;

  animation-delay: -1.5s;
  animation: color 2s linear infinite;
}
@keyframes color {
  0% {
    box-shadow: 0 0 20 white;
    filter: hue-rotate(0deg);
  }
  30% {
    box-shadow: 0 0 30 rgb(0, 34, 255);
  }
  60% {
    box-shadow: 0 0 40 rgb(255, 0, 0);
  }
  80% {
    box-shadow: 0 0 50 rgb(0, 0, 255);
  }
  100% {
    box-shadow: 0 0 20 white;
    filter: hue-rotate(360deg);
  }
}
/* Image Main End */

/* BALL MOVEMENTS START */
.ball {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin-top: 70px;
  margin-left: 70px;
  background: url(images/ball.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 0 50px rgb(255, 255, 255), inset 0 0 20px black;
}

/* Keyframe ball Start */
@keyframes ball {
  10% {
    transform: translate(180px, 0px) rotate(360deg);
    height: 80px;
  }
  14% {
    transform: translate(300px, 670px) scaleX(1) scaleY(1);
  }

  15% {
    transform: translate(300px, 730px) scaleX(1.5) scaleY(0.5);
    height: 65px;
  }
  /* jump 1 */
  20% {
    transform: translate(460px, 10px) scaleX(1) scaleY(1);
    height: 80px;
  }
  24% {
    transform: translate(600px, 670px) scaleX(1) scaleY(1);
  }

  25% {
    transform: translate(600px, 730px) scaleX(1.4) scaleY(0.5);
    height: 68px;
  }
  /* jump 2 */
  30% {
    transform: translate(750px, 100px) scaleX(1) scaleY(1);
    height: 80px;
  }
  34% {
    transform: translate(900px, 670px) scaleX(1) scaleY(1);
  }

  35% {
    transform: translate(900px, 730px) scaleX(1.3) scaleY(0.5);
    height: 71px;
  }
  /* jump 3 */
  40% {
    transform: translateX(1060px) translateY(200px) scaleX(1) scaleY(1);
    height: 80px;
  }
  44% {
    transform: translate(1200px, 670px) scaleX(1) scaleY(1);
  }

  45% {
    transform: translate(1200px, 710px) scaleX(1.1) scaleY(0.7);
    height: 72px;
  }
  /* jump 4 */
  50% {
    transform: translate(1300px, 400px) scaleX(1) scaleY(1);
    height: 80px;
  }
  54% {
    transform: translateX(1460px) translateY(670px) scaleX(1) scaleY(1);
  }
  55% {
    transform: translateX(1460px) translateY(710px) scaleX(1.1) scaleY(0.7);
    height: 70px;
  }

  60% {
    transform: translate(1650px, 710px);
    height: 80px;
  }

  65% {
    transform: translate(1650px, 710px);
    height: 71px;
    border: 2px solid rgb(0, 0, 0);
  }
  68% {
    transform: translate(1650px, 710px);
    opacity: 1;
    border: 2px solid rgb(0, 0, 0);
  }
  75% {
    transform: translate(1650px, 710px);
    opacity: 1;
    border: 10px solid rgb(255, 0, 0);
  }
  85% {
    transform: translate(1650px, 710px);
    opacity: 0;
    border: 10px solid rgb(26, 255, 1);
  }
  95% {
    transform: translate(1650px, 710px);
    opacity: 0;
    border: 10px solid rgb(255, 0, 0);
  }
  100% {
    transform: translate(1650px, 710px);
    opacity: 0;
  }
}
/* .container > .game:hover > .ball start */
.container > .game:hover > .ball {
  animation: ball 13s linear 1;
}
/* .container > .game:hover > .ball end */

/* Keyframe ball END */

/* BALL MOVEMENTS END */

/* Ball Holder Start */
.square {
  width: 170px;
  height: 20px;
  margin-left: 80px;
  margin-top: 1px;
  background-color: #ffffff;
}
/* Ball Holder End */

/* Name Amir Light Start  */
.names {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
/* H1 H2 H3 start */
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  color: #353535;
  font-size: 60px;
  margin-top: 50px;
  border: 10px solid rgb(148, 148, 148);
  border-right: 10px solid rgb(255, 255, 255);
  border-left: 10px solid rgb(255, 255, 255);
  border-bottom: 10px dashed white;
  border-top: 10px dashed white;
  box-shadow: 0 0 50px white;
}
/* H1 H2 H3 End */
/* H1 Span H2 Span H3 Span Start */
h1 span,
h2 span,
h3 span {
  display: table-cell;
  margin: 0px;
  padding: 20px;
  animation: animate 5s ease-in-out infinite;
}
/* H1 Span H2 Span H3 Span End */
h1 span:nth-child(1),
h2 span:nth-child(1),
h3 span:nth-child(1) {
  animation-delay: 0s;
}
h1 span:nth-child(2),
h2 span:nth-child(2),
h3 span:nth-child(2) {
  animation-delay: 0.25s;
}
h1 span:nth-child(3),
h2 span:nth-child(3),
h3 span:nth-child(3) {
  animation-delay: 0.5s;
}
h1 span:nth-child(4),
h2 span:nth-child(4),
h3 span:nth-child(4) {
  animation-delay: 0.75s;
}
h1 span:nth-child(5),
h2 span:nth-child(5),
h3 span:nth-child(5) {
  animation-delay: 1s;
}
h1 span:nth-child(6),
h2 span:nth-child(6),
h3 span:nth-child(6) {
  animation-delay: 1.25s;
}
/* Keyframe Animate Start */
@keyframes animate {
  0%,
  100% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px#ffffff,
      0 0 80px #ffffff, 0 0 120px #ffffff, 0 0 200px #ffffff;
  }
  5%,
  95% {
    color: #111;
    filter: blur(0px);
    text-shadow: none;
  }
  10%,
  70% {
    color: #ffffff;
    filter: blur(0px);
    text-shadow: none;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px#ffffff,
      0 0 80px #ffffff, 0 0 120px #ffffff, 0 0 200px #ffffff;
  }
  50%,
  60% {
    color: #ffffff;
    filter: blur(0px);
    text-shadow: none;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px#ffffff,
      0 0 80px #ffffff, 0 0 120px #ffffff, 0 0 200px #ffffff;
  }
}
/* Keyframe Animate End */
/* Name Amir Light End */
/* CSS END */
