/* CSS START */

/* Body background Start */
body {
  background: linear-gradient(to right, #000000, #ffffff, #000000);
  background-size: 400% 400%;
  animation: backgroundbody 4s infinite;
}

/* Keyframe backgrond Start */
@keyframes backgroundbody {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Keyframe backgrond End */

/* Body background End */

/* Text on the page Start */
.parent h1 {
  font-size: 3.5em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: poppins;
  -webkit-text-stroke: 1px #ffffff;
  color: transparent;
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -1700px 0;
  animation: text 5s linear infinite alternate;
}
/* Keyframe text Start */
@keyframes text {
  100% {
    background-position: 0 0;
  }
}
/* Keyframes text END */

/* Text on the page End */

/* Border Around the ball start */
.game {
  background-color: #ffffff;
  margin: 0 auto;
  width: 1300px;
  border: 10px solid #000000;
  border-radius: 10px;
  height: 425px;
}
/* Border Around the ball END */

/* BALL MOVEMENTS START */
.ball {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin-top: 70px;
  margin-left: 70px;
  background: url(images/ball.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Ball hover start */

/* Ball hover end */

/* Keyframe ball Start */
@keyframes ball {
  0% {
  }
  10% {
    transform: translate(180px, 0px) scalex(1);
  }
  13% {
    transform: translate(290px, 285px) scaleX(1) scaleY(1);
  }
  14% {
    transform: translate(290px, 310px) scaleX(1.5) scaleY(0.5);
  }

  /* jump1 */
  20% {
    transform: translate(400px, 70px) scaleX(1) scaleY(1);
  }
  34% {
    transform: translate(500px, 285px) scaleX(1) scaleY(1);
  }
  35% {
    transform: translate(500px, 310px) scaleX(1.4) scaleY(0.4);
  }
  /* jump2 */
  40% {
    transform: translate(600px, 120px) scaleX(1) scaleY(1);
  }
  54% {
    transform: translate(700px, 285px) scaleX(1) scaleY(1);
  }
  55% {
    transform: translate(700px, 310px) scaleX(1.5) scaleY(0.5);
  }
  /* jump3  */
  60% {
    transform: translate(800px, 200px) scaleX(1) scaleY(1);
  }
  74% {
    transform: translate(900px, 280px) scaleX(1) scaleY(1);
  }
  75% {
    transform: translate(900px, 290px) scaleX(1.4) scaleY(0.9);
  }
  /* jump4   */
  85% {
    transform: translate(1000px, 230px) scaleX(1) scaleY(1);
  }
  94% {
    transform: translate(1100px, 290px) scaleX(1) scaleY(1);
  }
  95% {
    transform: translate(1100px, 290px) scaleX(1) scaleY(1);
  }
  96% {
    opacity: 1;
  }

  100% {
    transform: translate(1150px, 290px);

    opacity: 0;
  }
}
.container > .game:hover > .ball {
  animation: ball 6s 1;
}

/* 100% {
      transform: translate(700px, 290px);
    } */

/* Keyframe ball END */

/* BALL MOVEMENTS END */

/* Ball Holder Start */
.square {
  width: 170px;
  height: 20px;
  margin-left: 80px;
  margin-top: 1px;
  background-color: #010101;
}
/* Ball Holder End */

/* CSS END */
